Repository MICA-MNI/BrainStat, pull requests merged in 2021-06, with the labels that each got.

#147 [TST] Datagen resels
  brainstat/tests/datagen_resels.py
  brainstat/tests/test_resels.py
Labels: Python

#152 Datagen f
  brainstat/tests/datagen_f.py
  brainstat/tests/test_f_test.py
Labels: Python

#155 Datagen ttest
  brainstat/tests/datagen_t_test.py
  brainstat/tests/test_t_test.py
Labels: Python

#154 Datagen stat threshold
  brainstat/tests/datagen_stat_threshold.py
  brainstat/tests/test_stat_threshold.py
Labels: Python

#153 Datagen mesh normalize
  brainstat/tests/datagen_mesh_normalize.py
  brainstat/tests/test_mesh_normalize.py
Labels: Python

#157 [DOC, ENH] MPC context decoding
  brainstat/context/histology.py
  brainstat/context/utils.py
  brainstat_matlab/context/histology/compute_histology_gradients.m
  brainstat_matlab/context/histology/compute_mpc.m
  brainstat_matlab/context/histology/read_histology_profile.m
  docs/python/tutorials/plot_tutorial_02_context.py
  requirements.txt
  setup.py
Labels: Documentation, MATLAB, Python

#160 [TST] Add URL test for histology
  brainstat/context/histology.py
  brainstat/tests/test_histology.py
  brainstat_matlab/+brainstat_utils/get_home_dir.m
  brainstat_matlab/context/histology/read_histology_profile.m
Labels: MATLAB, Python

#161 [FIX] Fix readthedocs
  docs/python/tutorials/plot_tutorial_02_context.py
Labels: Documentation

#162 [TST] MATLAB now uses new test files
  .github/workflows/MATLAB_unittests.yml
  .github/workflows/python_coverage.yml
  .github/workflows/python_unittests.yml
  brainstat/mesh/data.py
  brainstat/stats/_multiple_comparisons.py
  brainstat/tests/conftest.py
  brainstat/tests/datagen_f.py
  brainstat/tests/datagen_fdr.py
  brainstat/tests/datagen_linear_model.py
  brainstat/tests/datagen_mesh_edges.py
  brainstat/tests/datagen_mesh_normalize.py
  brainstat/tests/datagen_mesh_smooth.py
  brainstat/tests/datagen_peak_clus.py
  brainstat/tests/datagen_random_field_theory.py
  brainstat/tests/datagen_resels.py
  brainstat/tests/datagen_stat_threshold.py
  brainstat/tests/datagen_t_test.py
  brainstat/tests/test_fdr.py
  brainstat/tests/test_histology.py
  brainstat/tests/test_linear_model.py
  brainstat/tests/test_mesh_edges.py
  brainstat/tests/test_mesh_smooth.py
  brainstat/tests/test_mesh_standardize.py
  brainstat/tests/test_peak_clus.py
  brainstat/tests/test_random_field_theory.py
  brainstat/tests/test_resels.py
  brainstat_matlab/stats/@SLM/SLM.m
  brainstat_matlab/tests/@test_precomputed/test_precomputed.m
Labels: Github, MATLAB, Python, high priority

#171 [TST] Add mixed effects to datagen and tests for linmod
  brainstat/mesh/utils.py
  brainstat/stats/terms.py
  brainstat/tests/datagen_linear_model.py
  brainstat/tests/test_linear_model.py
  brainstat_matlab/context/histology/read_histology_profile.m
  brainstat_matlab/stats/@SLM/SLM.m
  brainstat_matlab/tests/@test_precomputed/test_precomputed.m
Labels: MATLAB, Python

#174 [TST, FIX] Mixed Effects models and SLM testing
  .github/workflows/MATLAB_unittests.yml
  brainstat/context/utils.py
  brainstat/mesh/interpolate.py
  brainstat/stats/SLM.py
  brainstat/stats/_linear_model.py
  brainstat/stats/_t_test.py
  brainstat/stats/terms.py
  brainstat/tests/datagen_linear_model.py
  brainstat/tests/datagen_peak_clus.py
  brainstat/tests/datagen_random_field_theory.py
  brainstat/tests/datagen_slm.py
  brainstat/tests/datagen_t_test.py
  brainstat/tests/test_SLM.py
  brainstat/tests/test_t_test.py
  brainstat/tests/testutil.py
  brainstat_matlab/stats/@SLM/SLM.m
  brainstat_matlab/stats/@SLM/linear_model.m
  brainstat_matlab/stats/@SLM/peak_clus.m
  brainstat_matlab/stats/@SLM/random_field_theory.m
  brainstat_matlab/stats/@SLM/t_test.m
  brainstat_matlab/tests/@test_precomputed/test_precomputed.m
  brainstat_matlab/tests/@test_slm/test_slm.m
Labels: Github, MATLAB, Python

#177 [TST] Added windows/macos unit tests
  .github/workflows/MATLAB_unittests.yml
  .github/workflows/python_unittests.yml
  brainstat/tests/testutil.py
Labels: Github, Python

#179 [FIX] Fix unbound variable in SLM
  brainstat/stats/SLM.py
Labels: Python

#180 [GIT] Switch to PyPi!
  .github/workflows/MATLAB_unittests.yml
  .github/workflows/python_unittests.yml
  .github/workflows/tagged_release.yml
  setup.py
Labels: Github

#181 [FIX] Fix pypi push
  .github/workflows/tagged_release.yml
Labels: Github

#182 [FIX] Fix PyPi push
  .github/workflows/tagged_release.yml
Labels: Github

#183 [GIT] Make PyPi push verbose
  .github/workflows/pre_release.yml
  .github/workflows/tagged_release.yml
Labels: Github

#184 [DOC] Improvements to ReadTheDocs
  README.rst
  brainstat/mesh/interpolate.py
  brainstat/tests/__init__.py
  brainstat/tests/conftest.py
  brainstat/tests/datagen_f.py
  brainstat/tests/datagen_fdr.py
  brainstat/tests/datagen_linear_model.py
  brainstat/tests/datagen_mesh_edges.py
  brainstat/tests/datagen_mesh_normalize.py
  brainstat/tests/datagen_mesh_smooth.py
  brainstat/tests/datagen_peak_clus.py
  brainstat/tests/datagen_random_field_theory.py
  brainstat/tests/datagen_resels.py
  brainstat/tests/datagen_slm.py
  brainstat/tests/datagen_stat_threshold.py
  brainstat/tests/datagen_t_test.py
  brainstat/tests/test_SLM.py
  brainstat/tests/test_f_test.py
  brainstat/tests/test_fdr.py
  brainstat/tests/test_histology.py
  brainstat/tests/test_linear_model.py
  brainstat/tests/test_mesh_edges.py
  brainstat/tests/test_mesh_normalize.py
  brainstat/tests/test_mesh_smooth.py
  brainstat/tests/test_mesh_standardize.py
  brainstat/tests/test_peak_clus.py
  brainstat/tests/test_random_field_theory.py
  brainstat/tests/test_resels.py
  brainstat/tests/test_stat_threshold.py
  brainstat/tests/test_t_test.py
  brainstat/tests/testutil.py
  docs/generic/install.rst
  docs/python/api.rst
  docs/python/index.rst
Labels: Documentation, Python
