Repository MICA-MNI/BrainStat, pull requests merged in 2021-02, with the labels that each got.

#79 [ENH] Added Abagen and NiMARE support.
  brainstat/context/__init__.py
  brainstat/context/genetics.py
  brainstat/context/meta_analysis.py
  brainstat/context/utils.py
  brainstat/mesh/interpolate.py
  requirements.txt
  setup.py
Labels: Python

#83 [REF] Added black styling
  .github/workflows/python_black.yml
  .github/workflows/python_ci.yml
  README.rst
  brainstat/__init__.py
  brainstat/mesh/__init__.py
  brainstat/mesh/data.py
  brainstat/mesh/utils.py
  brainstat/stats/models.py
  brainstat/stats/multiple_comparisons.py
  brainstat/stats/terms.py
  brainstat/stats/utils.py
  brainstat/tests/conftest.py
  brainstat/tests/test_f_test.py
  brainstat/tests/test_fdr.py
  brainstat/tests/test_linear_model.py
  brainstat/tests/test_mesh_edges.py
  brainstat/tests/test_mesh_normalize.py
  brainstat/tests/test_mesh_smooth.py
  brainstat/tests/test_mesh_standardize.py
  brainstat/tests/test_peak_clus.py
  brainstat/tests/test_random_field_theory.py
  brainstat/tests/test_resels.py
  brainstat/tests/test_stat_threshold.py
  brainstat/tests/test_t_test.py
  brainstat/tutorial/__init__.py
  brainstat/tutorial/utils.py
  docs/conf.py
  docs/python/tutorials/placeholder_tutorial.py
  setup.py
Labels: Documentation, Github, Python

#85 [ENH] Allow term input to t_test and linear model
  brainstat/stats/models.py
  brainstat/stats/terms.py
Labels: Python

#51 [ENH] Matlab volume viewer
  docs/index.rst
  docs/matlab/api.rst
  docs/matlab/index.rst
  docs/matlab/volume_viewer.rst
  matlab/visualization/volume_viewer/@volume_viewer/colorlimits.m
  matlab/visualization/volume_viewer/@volume_viewer/colormap.m
  matlab/visualization/volume_viewer/@volume_viewer/private/build_figure.m
  matlab/visualization/volume_viewer/@volume_viewer/private/get_slice.m
  matlab/visualization/volume_viewer/@volume_viewer/private/replot.m
  matlab/visualization/volume_viewer/@volume_viewer/volume_viewer.m
  matlab/visualization/volume_viewer/build_figure.fig
Labels: Documentation, MATLAB

#57 [REF] Reintroduced GIFTI library dependency
  matlab/io/utilities/convert_surface.m
  matlab/io/utilities/read_gifti.m
  matlab/io/utilities/xml2struct.m
  matlab/temporary_directories/temp_test_gifti_reader.m
Labels: MATLAB

#95 [GIT] Automatic package publication
  .github/workflows/pre_release.yml
  .github/workflows/tagged_release.yml
  setup.py
Labels: Github

#81 [DOC] Tutorial 1
  brainstat/tutorial/.gitignore
  docs/conf.py
  docs/python/index.rst
  docs/python/tutorials/README.rst
  docs/python/tutorials/placeholder_tutorial.py
  docs/python/tutorials/plot_tutorial_01_basics.py
Labels: Documentation, Python

#98 [FIX] Fixed a conf.py issue
  .github/workflows/python_black.yml
  .readthedocs.yml
  docs/matlab/index.rst
  docs/requirements.txt
Labels: Documentation, Github

#96 [DOC] Slight changes in documentation hierarchy
  docs/generic/credits.rst
  docs/generic/funding.rst
  docs/generic/theory.rst
  docs/index.rst
  docs/matlab/tutorials/README.rst
  docs/matlab/tutorials/tutorial1.m
Labels: Documentation

#103 [FIX] Fixed conf.py parsing
  docs/conf.py
Labels: Documentation
