Repository MICA-MNI/BrainStat, pull requests merged in 2021-05, with the labels that each got.

#142 [REF] Replaces numpy_groupies with np.bincount
  brainstat/mesh/data.py
  requirements.txt
  setup.py
Labels: Python

#144 [ENH] Added a tutorial dataset fetcher
  brainstat_matlab/datasets/fetch_tutorial_data.m
  brainstat_matlab/tests/@test_tutorial/test_tutorial.m
Labels: MATLAB

#132 Datagen fdr
  brainstat/tests/datagen_fdr.py
  brainstat/tests/test_fdr.py
Labels: Python

#146 [FIX] Set sphinx==3.5.4
  docs/requirements.txt
Labels: Documentation

#149 Datagen smoo
  brainstat/tests/datagen_mesh_smooth.py
  brainstat/tests/test_mesh_smooth.py
Labels: Python

#156 Add context decoding update to tutorial 2 PR
  brainstat/context/meta_analysis.py
  brainstat/context/utils.py
  brainstat/mesh/interpolate.py
  docs/python/tutorials/plot_tutorial_02_context.py
Labels: Documentation, Python

#148 [ENH, DOC] Context decoding tutorial
  brainstat/context/meta_analysis.py
  brainstat/context/utils.py
  brainstat/mesh/interpolate.py
  docs/python/tutorials/plot_tutorial_02_context.py
Labels: Documentation, Python

#136 [TST] Datagen peak clus
  brainstat/tests/datagen_peak_clus.py
  brainstat/tests/test_peak_clus.py
Labels: MATLAB, Python
