Repository MICA-MNI/BrainStat, pull requests merged in 2021-04, with the labels that each got.

#107 [TST] MATLAB unit tests
  .azure-pipelines.yml
  .github/workflows/MATLAB_unittests.yml
  .github/workflows/python_unittests.yml
  .gitignore
  README.rst
  brainstat_matlab/stats/SurfStatNorm.m
  brainstat_matlab/stats/SurfStatSmooth.m
  brainstat_matlab/stats/SurfStatStand.m
  brainstat_matlab/tests/@test_precomputed/test_precomputed.m
  brainstat_matlab/tests/@test_term_random_overloads/test_term_random_overloads.m
Labels: Github, MATLAB

#114 [FIX] Temporary fix for removal of black stable
  .github/workflows/python_black.yml
Labels: Github

#115 [FIX] Fix linter
  .github/workflows/python_black.yml
Labels: Github

#113 [GIT] Automatic MATLAB Packaging
  .github/matlab_toolbox/BrainStat.prj
  .github/matlab_toolbox/package_brainstat.m
  .github/workflows/tagged_release.yml
  .gitignore
Labels: Github

#119 [FIX] Fix license
  .github/workflows/tagged_release.yml
  README.rst
Labels: Github

#110 Datagen
  brainstat/tests/datagen_linear_model.py
  brainstat/tests/test_linear_model.py
  requirements.txt
Labels: Python

#126 docs polished in brainstat/mesh/data.py
  brainstat/mesh/data.py
Labels: Python

#130 move from fork to main repo for further testing of binder
  .github/workflows/MATLAB_unittests.yml
  .github/workflows/python_unittests.yml
  .jupyter/jupyter_notebook_config.py
  binder/requirements.txt
  docs/conf.py
Labels: Documentation, Github, enhancement, help wanted

#120 [REF] Standardize Python/MATLAB nomenclature
  brainstat_matlab/mesh/mesh_edges.m
  brainstat_matlab/mesh/mesh_normalize.m
  brainstat_matlab/mesh/mesh_smooth.m
  brainstat_matlab/mesh/mesh_standardize.m
  brainstat_matlab/stats/@SLM/SLM.m
  brainstat_matlab/stats/@SLM/compute_resels.m
  brainstat_matlab/stats/@SLM/linear_model.m
  brainstat_matlab/stats/@SLM/peak_clus.m
  brainstat_matlab/tests/@test_precomputed/test_precomputed.m
Labels: MATLAB

#129 [FIX] CI now works on forks
  .github/workflows/MATLAB_unittests.yml
  .github/workflows/python_unittests.yml
Labels: Github

#122 [DOC] Updated the installation guide.
  docs/generic/install.rst
Labels: Documentation

#133 [FIX] Fixed installation dependencies
  .github/workflows/python_unittests.yml
  docs/generic/install.rst
  requirements.txt
  setup.cfg
  setup.py
Labels: Documentation, Github

#135 [FIX] Fix codecov
  .github/workflows/python_coverage.yml
Labels: Github

#124 [FIX] Matlab linear model fix
  brainstat/stats/_linear_model.py
  brainstat_matlab/+brainstat_utils/mask_edges.m
  brainstat_matlab/mesh/mesh_edges.m
  brainstat_matlab/stats/@SLM/SLM.m
  brainstat_matlab/stats/@SLM/linear_model.m
  brainstat_matlab/stats/@random/double.m
Labels: MATLAB, Python

#131 Datagen mesh edges
  brainstat/tests/datagen_mesh_edges.py
  brainstat/tests/test_mesh_edges.py
Labels: Python

#134 [TST] data generation for random_field_theory
  brainstat/tests/datagen_random_field_theory.py
  brainstat/tests/testutil.py
  brainstat_matlab/tests/@test_precomputed/test_precomputed.m
Labels: MATLAB, Python

#141 [GIT] Update CI triggers.
  .github/workflows/MATLAB_unittests.yml
  .github/workflows/label.yml
  .github/workflows/python_black.yml
  .github/workflows/python_unittests.yml
  brainstat/stats/SLM.py
  brainstat/tests/datagen_linear_model.py
  brainstat/tests/datagen_mesh_edges.py
Labels: Github, Python

#140 [REF] Updates context.genetics function
  brainstat/context/genetics.py
  requirements.txt
  setup.py
Labels: Python

#139 [REF] Replaces numpy_groupies with np.bincount
  brainstat/mesh/data.py
  requirements.txt
  setup.py
Labels: Python
