Repository MICA-MNI/BrainStat, pull requests merged in 2022-10, with the labels that each got.

#307 [ENH] vtk reqs
  requirements.txt
Labels: Python

#308 [MOD] rtd stuff
  .readthedocs.yml
  README.rst
  setup.py
Labels: Documentation, Python

#309 [FIX] rtd
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_002.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_003.png
  docs/python/generated_tutorials/images/thumb/sphx_glr_plot_tutorial_01_basics_thumb.png
  docs/python/generated_tutorials/index.rst
  docs/python/generated_tutorials/plot_tutorial_01_basics.ipynb
  docs/python/generated_tutorials/plot_tutorial_01_basics.py.md5
  docs/python/generated_tutorials/plot_tutorial_01_basics.rst
  docs/python/generated_tutorials/plot_tutorial_01_basics_codeobj.pickle
  docs/python/generated_tutorials/sg_execution_times.rst
Labels: Documentation

#310 updated tuts, thanks for approving saratheriver
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_001.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_002.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_003.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_004.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_005.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_006.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_007.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_008.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_009.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_010.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_011.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_012.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_013.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_014.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_015.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_016.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_017.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_018.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_019.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_020.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_021.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_022.png
  docs/python/generated_tutorials/images/thumb/sphx_glr_plot_tutorial_01_basics_thumb.png
  docs/python/generated_tutorials/index.rst
  docs/python/generated_tutorials/plot_tutorial_01_basics.ipynb
  docs/python/generated_tutorials/plot_tutorial_01_basics.py.md5
  docs/python/generated_tutorials/plot_tutorial_01_basics.rst
  docs/python/generated_tutorials/plot_tutorial_01_basics_codeobj.pickle
  docs/python/generated_tutorials/sg_execution_times.rst
Labels: Documentation

#311 [FIX] reqs
  requirements.txt
Labels: Python

#313 [FIX] headers in python tuts RTD
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_001.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_002.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_003.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_004.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_005.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_006.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_007.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_008.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_009.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_010.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_011.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_012.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_013.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_014.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_015.png
  docs/python/generated_tutorials/images/thumb/sphx_glr_plot_tutorial_02_context_thumb.png
  docs/python/generated_tutorials/plot_tutorial_01_basics.py.md5
  docs/python/generated_tutorials/plot_tutorial_02_context.ipynb
  docs/python/generated_tutorials/plot_tutorial_02_context.py
  docs/python/generated_tutorials/plot_tutorial_02_context.py.md5
  docs/python/generated_tutorials/plot_tutorial_02_context.rst
  docs/python/generated_tutorials/plot_tutorial_02_context_codeobj.pickle
  docs/python/generated_tutorials/sg_execution_times.rst
  docs/python/tutorials/plot_tutorial_02_context.py
Labels: Documentation

#314 [DOC] building tuts
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_001.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_004.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_005.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_006.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_007.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_008.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_009.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_010.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_011.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_012.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_013.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_014.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_015.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_016.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_017.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_018.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_019.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_020.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_021.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_022.png
  docs/python/generated_tutorials/plot_tutorial_01_basics.ipynb
  docs/python/generated_tutorials/plot_tutorial_01_basics.py.md5
  docs/python/generated_tutorials/plot_tutorial_01_basics.rst
  docs/python/generated_tutorials/plot_tutorial_01_basics_codeobj.pickle
  docs/python/generated_tutorials/plot_tutorial_02_context.py.md5
  docs/python/generated_tutorials/plot_tutorial_02_context.rst
  docs/python/generated_tutorials/plot_tutorial_02_context_codeobj.pickle
  docs/python/generated_tutorials/sg_execution_times.rst
Labels: Documentation

#316 [DOC] building tuts again
  docs/python/generated_tutorials/plot_tutorial_01_basics.py.md5
  docs/python/generated_tutorials/plot_tutorial_02_context.ipynb
  docs/python/generated_tutorials/plot_tutorial_02_context.py
  docs/python/generated_tutorials/plot_tutorial_02_context.py.md5
  docs/python/generated_tutorials/plot_tutorial_02_context.rst
  docs/python/generated_tutorials/plot_tutorial_02_context_codeobj.pickle
  docs/python/generated_tutorials/sg_execution_times.rst
  docs/python/tutorials/plot_tutorial_02_context.py
Labels: Documentation

#317 [v0.4.0] update to v0.4.0
  brainstat/__init__.py
Labels: Python

#318 v0.4.1
  brainstat/__init__.py
Labels: Python

#319 [TES] workflow on 18.0
  .github/matlab_toolbox/BrainStat.prj
  .github/workflows/tagged_release.yml
Labels: Github

#320 [v0.4.2] trying to pypi it
  brainstat/__init__.py
Labels: Python

#321 [v0.4.3] just work already
  .github/workflows/tagged_release.yml
  brainstat/__init__.py
Labels: Python, Github

#323 Borisrules merge (would need to do this first as there were conflicts I think)
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_003.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_006.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_008.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_009.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_011.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_015.png
  docs/python/generated_tutorials/images/thumb/sphx_glr_plot_tutorial_01_basics_thumb.png
  docs/python/generated_tutorials/plot_tutorial_01_basics.py.md5
  docs/python/generated_tutorials/plot_tutorial_02_context.ipynb
Labels: Documentation

#324 [NOFIX] vtk still not working
  brainstat_matlab/tutorials/tutorial_1_statistics.mlx
  docs/python/generated_tutorials/plot_tutorial_01_basics.rst
  docs/python/generated_tutorials/plot_tutorial_01_basics_codeobj.pickle
  docs/python/generated_tutorials/plot_tutorial_02_context.rst
  docs/python/generated_tutorials/plot_tutorial_02_context_codeobj.pickle
  docs/python/generated_tutorials/sg_execution_times.rst
  requirements.txt
Labels: Documentation, MATLAB, Python
