Repository MICA-MNI/BrainStat, pull requests merged in 2022-08, with the labels that each got.

#289 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Github

#288 [NEW] radar plot visualization in python
  brainstat/context/meta_analysis.py
  brainstat/stats/_multiple_comparisons.py
  brainstat_matlab/context/radar_plot.m
  brainstat_matlab/io/+io_utils/combine_surfaces.m
  requirements.txt
Labels: MATLAB, Python

#291 [FIX] specify convert_surface package in plot_hemisphere
  brainstat_matlab/plotting/@plot_hemispheres/plot_hemispheres.m
Labels: MATLAB
