Repository MICA-MNI/BrainStat, pull requests merged in 2022-09, with the labels that each got.

#294 radar_plot fix for live script (#293)
  brainstat_matlab/context/radar_plot.m
  docs/matlab/tutorials/tutorial_2_context.html
Labels: Documentation, MATLAB

#296 [FIX] rtd tutorial rm tkagg
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_001.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_002.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_003.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_004.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_005.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_006.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_007.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_008.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_009.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_010.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_011.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_012.png
  docs/python/generated_tutorials/images/thumb/sphx_glr_plot_tutorial_02_context_thumb.png
  docs/python/generated_tutorials/plot_tutorial_02_context.ipynb
  docs/python/generated_tutorials/plot_tutorial_02_context.py
  docs/python/generated_tutorials/plot_tutorial_02_context.py.md5
  docs/python/generated_tutorials/plot_tutorial_02_context.rst
  docs/python/generated_tutorials/plot_tutorial_02_context_codeobj.pickle
  docs/python/generated_tutorials/sg_execution_times.rst
  docs/python/tutorials/plot_tutorial_02_context.py
Labels: Documentation

#297 [FIX] rtd python tutorial
  docs/python/generated_tutorials/index.rst
  docs/requirements.txt
Labels: Documentation

#299 [ENH] matching func names, added corrtype opt
  brainstat/context/meta_analysis.py
  brainstat_matlab/context/meta_analytic_decoder.m
  brainstat_matlab/context/surface_genetic_expression.m
  brainstat_matlab/tutorials/tutorial_2_context.mlx
  docs/matlab/API/surface_genetic_expression.rst
  docs/matlab/index.rst
  docs/matlab/tutorials/tutorial_2_context.html
Labels: Documentation, MATLAB, Python

#300 new tuts:
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_001.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_002.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_003.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_004.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_005.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_006.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_007.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_008.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_009.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_010.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_011.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_012.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_013.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_014.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_015.png
  docs/python/generated_tutorials/images/thumb/sphx_glr_plot_tutorial_02_context_thumb.png
  docs/python/generated_tutorials/plot_tutorial_02_context.ipynb
  docs/python/generated_tutorials/plot_tutorial_02_context.py
  docs/python/generated_tutorials/plot_tutorial_02_context.py.md5
  docs/python/generated_tutorials/plot_tutorial_02_context.rst
  docs/python/generated_tutorials/plot_tutorial_02_context_codeobj.pickle
  docs/python/generated_tutorials/sg_execution_times.rst
  docs/python/tutorials/plot_tutorial_02_context.py
Labels: Documentation

#301 [FIX] borisrules tuts
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_002.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_003.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_006.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_008.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_009.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_011.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_015.png
  docs/python/generated_tutorials/plot_tutorial_02_context.ipynb
  docs/python/generated_tutorials/plot_tutorial_02_context.py.md5
  docs/python/generated_tutorials/plot_tutorial_02_context.rst
  docs/python/generated_tutorials/plot_tutorial_02_context_codeobj.pickle
  docs/python/generated_tutorials/sg_execution_times.rst
Labels: Documentation

#304 updated python tuts - try dis Sara
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_001.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_010.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_011.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_012.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_01_basics_014.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_002.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_003.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_006.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_008.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_009.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_011.png
  docs/python/generated_tutorials/images/sphx_glr_plot_tutorial_02_context_015.png
  docs/python/generated_tutorials/plot_tutorial_01_basics.ipynb
  docs/python/generated_tutorials/plot_tutorial_01_basics.py.md5
  docs/python/generated_tutorials/plot_tutorial_01_basics.rst
  docs/python/generated_tutorials/plot_tutorial_01_basics_codeobj.pickle
  docs/python/generated_tutorials/plot_tutorial_02_context.ipynb
  docs/python/generated_tutorials/plot_tutorial_02_context.py.md5
  docs/python/generated_tutorials/plot_tutorial_02_context.rst
  docs/python/generated_tutorials/plot_tutorial_02_context_codeobj.pickle
  docs/python/generated_tutorials/sg_execution_times.rst
Labels: Documentation
